<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonas</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="../imgs/logo.png" alt="Logo">
                </div>

                <div class="enlaces-header">
                    <a href="#">Inicio</a>
                    <a href="#">Inicio</a>
                    <a href="#">Inicio</a>
                    <a href="#">Inicio</a>
                    <a href="#">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedor">
            <section class="contenido-header">
                <div class="textos-header">
                    <h1>Our creativity is your success</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, animi.</p>
                    <a href="#">Learn More</a>
                </div>
                <img src="../imgs/success.svg" alt="Imagen de ejemplo">
            </section>

        </div>
    </header>
    <section class="about-us">
        <div class="contenedor1">
            <h2 class="titulo">We provide a wide range</h2>
            <div class="contenedor-articulo">
                <div class="articulo">
                    <i class="fa-solid fa-pencil"></i>
                    <h3>Web Desing </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, est rem necessitatibus nam
                        debitis quod.</p>
                    <a href="#">Read more---></a>
                </div>
                <div class="articulo">
                    <i class="fa-solid fa-code"></i>
                    <h3> Graphic Design</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, est rem necessitatibus nam
                        debitis quod.</p>
                    <a href="#">Read more---></a>
                </div>
                <div class="articulo">
                    <i class="fa-solid fa-gears" style="color: rgb(9, 138, 98);"></i>
                    <h3>Video Production</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, est rem necessitatibus nam
                        debitis quod.</p>
                    <a href="#">Read more---></a>
                </div>
                <div class="articulo">
                    <i class="fa-solid fa-chart-pie" style="color: rgb(16, 70, 54);"></i>
                    <h3>SEO</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, est rem necessitatibus nam
                        debitis quod.</p>
                    <a href="#">Read more---></a>
                </div>
                <div class="articulo">
                    <i class="fa-regular fa-comment"></i>
                    <h3>Digital Marketing</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, est rem necessitatibus nam
                        debitis quod.</p>
                    
                    <a href="#">Read more---></a>
                </div>
                <div class="articulo">
                    <i class="fa-solid fa-chart-simple" style="color: rgb(9, 138, 98);"></i>
                    <h3>Inphographics</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, est rem necessitatibus nam
                        debitis quod.</p>
                    
                    <a href="#">Read more---></a>
                </div>
            </div>
        </div>
    </section>
    <section class="questions contenedor">
        <section class="textos-questions">
            <h2>Our CREATIVITY is our success</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, maxime.</p>
            <a href="#">Learn More </a>
        </section>
        <img src="../imgs/questions.svg" alt=" ">
    </section>

    <section class="results">
        <div class="contenedor1 content-results">
            <section class="numbers">
                <div class="number">
                    <h4>+8863</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eum!</p>
                </div>
                <div class="number">
                    <h4>+8863</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eum!</p>
                </div>
                <div class="number">
                    <h4>+8863</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eum!</p>
                </div>
                <div class="number">
                    <h4>+8863</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eum!</p>
                </div>
            </section>
            <section class="results-text">
                <h4>Lorem ipsum dolor sit amet.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, corrupti.</p>
                <a href="#"> Ingrese aquí! </a>
            </section>
        </div>
    </section>

    <section class="contenedor1 services">
        <img src="../imgs/services.svg" alt="">
        <div class="box-skills">
            <h4><i class="fa-regular fa-circle-check" style="color: rgb(9, 138, 98);"></i> Web Desingh </h4>
            <h4><i class="fa-regular fa-circle-check" style="color: rgb(9, 138, 98);"></i> Web Development </h4>
            <h4><i class="fa-regular fa-circle-check" style="color: rgb(9, 138, 98);"></i> SEO </h4>
            <h4><i class="fa-regular fa-circle-check" style="color: rgb(9, 138, 98);"></i> Marketing </h4>
            <h4><i class="fa-regular fa-circle-check" style="color: rgb(9, 138, 98);"></i> Web Support </h4>
        </div>
    </section>

    <footer>
        <div class="partFooter">
            <img src="../imgs/logo.png" alt="">
        </div>
        <div class="partFooter">
            <h4>Servicios</h4>
            <a href="#">Services 1</a>
            <a href="#">Services 2</a>
            <a href="#">Services 3</a>
        </div>

        <div class="partFooter">
            <h4>Acerca de </h4>
            <a href="#">About 1</a>
            <a href="#">About 2</a>
            <a href="#">About 3</a>
        </div>
        <div class="partFooter">
            <h4>Redes Sociales </h4>
            <div class="social-media">
                <i class="fa-brands fa-twitter" style="color: rgb(9, 138, 98);"></i>
                <i class="fa-brands fa-whatsapp" style="color: rgb(9, 138, 98);"></i>
                <i class="fa-brands fa-facebook" style="color: rgb(9, 138, 98);"></i>
                <i class="fa-brands fa-instagram" style="color: rgb(9, 138, 98);"></i>

            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/a5145585a1.js" crossorigin="anonymous"></script>
</body>

</html>